body{
    background-color: firebrick;
}
section {
    background-color: azure;
    width: 800px;
    display: block;
    margin: auto;
    padding: 40px;
    border: 1px solid black;
    margin-bottom: 40px;
}
img{
    display: block;
    margin: auto;
    width: 500px;
}
h1, footer{
    background-color: aliceblue;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
}
h2{
    background-color: darkgray;
    color: firebrick;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

}